<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQB_Detective.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQB_Detective.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MQB_Detective.My.MySettings>
            <setting name="MasterDB_Password" serializeAs="String">
                <value />
            </setting>
        </MQB_Detective.My.MySettings>
    </userSettings>
    <applicationSettings>
        <MQB_Detective.My.MySettings>
            <setting name="ProyectoDB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="ProyectoDB_ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterDB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterDB_ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="ProyectoDB_User" serializeAs="String">
                <value />
            </setting>
            <setting name="ProyectoDB_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="MasterDB_User" serializeAs="String">
                <value />
            </setting>
        </MQB_Detective.My.MySettings>
    </applicationSettings>
</configuration>